In [6]:
import pandas as pd
import numpy as np
import time
from dask import dataframe as df1

In [13]:
s_time_dask=time.time()
dask_df=df1.read_csv('Dades_meteorol_giques_de_la_XEMA.csv')
e_time_dask=time.time()

print("Read with dask: ", (e_time_dask-s_time_dask), "seconds")

dask_df.head(10)

Read with dask:  0.04341411590576172 seconds

,ID,CODI_ESTACIO,CODI_VARIABLE,DATA_LECTURA,DATA_EXTREM,VALOR_LECTURA,CODI_ESTAT,CODI_BASE
0,W8442601181600,W8,44,26/01/2018 04:00:00 PM,26/01/2018 04:00:00 PM,87.0,V,SH
1,W8722601181600,W8,72,26/01/2018 04:00:00 PM,26/01/2018 04:00:00 PM,0.0,V,SH
2,W8322601181600,W8,32,26/01/2018 04:00:00 PM,NaN,5.6,V,SH
3,W8402601181600,W8,40,26/01/2018 04:00:00 PM,26/01/2018 04:04:00 PM,5.6,V,SH
4,W8352601181600,W8,35,26/01/2018 04:00:00 PM,NaN,0.0,V,SH
5,W8032601181600,W8,3,26/01/2018 04:00:00 PM,26/01/2018 04:16:00 PM,89.0,V,SH
6,W9032601181600,W9,3,26/01/2018 04:00:00 PM,26/01/2018 04:29:00 PM,64.0,V,SH
7,W9462601181600,W9,46,26/01/2018 04:00:00 PM,NaN,1.3,V,SH
8,W9562601181600,W9,56,26/01/2018 04:00:00 PM,26/01/2018 04:00:00 PM,3.3,V,SH
9,W9572601181600,W9,57,26/01/2018 04:00:00 PM,NaN,6.0,V,SH

In [20]:
dask_df['CODI_ESTACIO'].value_counts()

Dask Series Structure:
npartitions=1
    int64
      ...
Name: CODI_ESTACIO, dtype: int64
Dask Name: value-counts-agg, 2937 tasks

In [16]:
estacions=pd.read_csv('Metadades_estacions_meteorol_giques_autom_tiques.csv')
estacions

,CODI_ESTACIO,NOM_ESTACIO,CODI_TIPUS,LATITUD,LONGITUD,Georeferència,EMPLACAMENT,ALTITUD,CODI_MUNICIPI,NOM_MUNICIPI,CODI_COMARCA,NOM_COMARCA,CODI_PROVINCIA,NOM_PROVINCIA,CODI_XARXA,NOM_XARXA,CODI_ESTAT,NOM_ESTAT,DATA_ALTA,DATA_BAIXA
0,X4,Barcelona - el Raval,A,41.38390,2.16775,POINT (2.16775 41.3839),Facultat de Geografia i Història. c. Montalegr...,33,332,Barcelona,13,Barcelonès,8,Barcelona,1,XEMA,2,Operativa,10/11/2006 12:00:00 AM,NaN
1,YG,Tírvia,A,42.51881,1.24244,POINT (1.24244 42.51881),Heliport de Tírvia,954,634,Tírvia,26,Pallars Sobirà,25,Lleida,1,XEMA,2,Operativa,01/11/2018 12:00:00 AM,NaN
2,DD,Vilassar de Mar,A,41.51175,2.38674,POINT (2.38674 41.51175),"Soc.Civil d'Aigües ""La Mina Vella",44.5,513,Vilassar de Mar,21,Maresme,8,Barcelona,1,XEMA,1,Desmantellada,05/04/1998 12:00:00 AM,01/16/2015 12:00:00 AM
3,VY,Nulles,A,41.25095,1.29863,POINT (1.29863 41.25095),Cooperativa agrària,240,12,Nulles,1,Alt Camp,43,Tarragona,1,XEMA,2,Operativa,09/18/2000 12:00:00 AM,NaN
4,YD,les Borges Blanques,A,41.51135,0.85617,POINT (0.85617 41.51135),Escola Agrària de les Borges Blanques,283,416,Les Borges Blanques,18,Garrigues,25,Lleida,1,XEMA,2,Operativa,01/25/2017 12:00:00 AM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,CW,l'Espluga de Francolí,A,41.39241,1.09894,POINT (1.09894 41.39241),Urb. Espluga Parc,446,387,L'Espluga de Francolí,16,Conca de Barberà,43,Tarragona,1,XEMA,2,Operativa,02/23/1996 12:00:00 AM,NaN
229,Z6,Sasseuva (2.228 m),A,42.77011,0.73198,POINT (0.73198 42.77011),Sasseuva,"2,228",872,Arres,39,Val d'Aran,25,Lleida,1,XEMA,2,Operativa,09/20/2001 12:00:00 AM,NaN
230,XF,Sabadell - Parc Agrari,A,41.56568,2.06952,POINT (2.06952 41.56568),Parc Agrari,258,894,Sabadell,40,Vallès Occidental,8,Barcelona,1,XEMA,2,Operativa,10/23/2008 12:00:00 AM,NaN
231,X9,Caldes de Montbui,A,41.61265,2.16836,POINT (2.16836 41.61265),Torre Marimon,176,907,Caldes de Montbui,41,Vallès Oriental,8,Barcelona,1,XEMA,2,Operativa,03/08/2007 12:00:00 AM,NaN
232,UQ,Dosrius - PN Montnegre Corredor,A,41.61991,2.44532,POINT (2.44532 41.61991),Parc Natural del Corredor. Masia Can Bosc,460,493,Dosrius,21,Maresme,8,Barcelona,1,XEMA,2,Operativa,08/09/1996 12:00:00 AM,NaN

In [19]:
dask_df.describe()

Dask DataFrame Structure:
              CODI_VARIABLE VALOR_LECTURA
npartitions=1
                    float64       float64
                        ...           ...
Dask Name: describe-numeric, 14334 tasks